#box {
    display: flex;
    width: 75%;
    height: calc(100%-60px);
    margin: auto;
    background-color: #DDDDDD;

}

#kolumn {
    width: 30%;
    margin: 30px 30px;
}
#kolumn2 {
    width: 70%;
    margin: 30px 30px;
}

#headline {
    margin-left: auto;
    margin-right: auto;
}

#scroll{
  height: 370px;
  overflow: auto;
}

form {
    width: 310px;
    border: none;
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], input[type=telnum] {
  width: 100%;
  margin: 8px 0;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #86B3A5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  text-align: left;
  width: 700px;
}
th {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
tr.bottom {
  border-bottom: 1px solid black;
}
tr.top {
  border-top: 1px solid black;
}